@font-face {
    font-family: Montserrat; 
    src: url(../fonts/Montserrat-Regular.ttf); 
     
    src: url(../fonts/Montserrat-Bold.ttf); 
     
    src: url(../fonts/Montserrat-Medium.ttf);
   }
   @font-face {
        font-family: Segoe; 
        src: url(../fonts/Segoe UI.ttf);
    }
* {

    margin: 0px;
    margin: 0px;

}

header {
	width: 100%;
	padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand > div {
	width: 124px;
	height: 30px;
	background: transparent url('../img/logo.jpg') 0% 0% no-repeat padding-box;

}
.container {
	max-width: 1920px;
    padding-left: 0px;
    padding-right: 0px;

}

.navbar-header a {
	padding: 15px 0;
}
.navbar-right {
	padding: 0px;
}

.menu {
	border: 0;
	border-radius: 0;
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.menu__list > a {
	text-align: left;
	font: normal normal normal 15px/19px Montserrat;
	letter-spacing: 0px;
	
}

.menu__list-leng {
	padding-right: -15px;
	margin-left: 15px;
}

.navbar-toggle {
	background-color: #3b3b38;
}

.content__works{
	max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
	margin-top: -18px;
	min-height: 468px;
	background: #F3F3F3 0% 0% no-repeat padding-box;

}
.about__works{
	padding-left: 0px;
}
.about__works-heder {
	margin-top: 76px;
	text-align: left;
	font: normal normal bold 33px/40px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.about__works > p {
	max-width: 465px;
    height: 135px;
	margin-top: 18px;
	margin-right: 15px;
	text-align: left;
	font: normal normal normal 15px/19px Montserrat;
	letter-spacing: 0px;
	color: #070707;
	overflow: hidden;
}
.get-started {
	max-width: 178px;
	min-height: 42px;
	margin-top: 18px;
	text-align: center;
	background: #6FDA44 0% 0% no-repeat padding-box;
}
.get-started a {
	display: inline-block;
	margin-top: 13px;
	text-decoration: none;
	font: normal normal normal 18px/20px Montserrat;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.get-started:hover{
	background-color: blue;
}
.about__works-video div {
	max-width: 744px;
	height: 344px;
	margin-right: -15px;
	margin-top: 78px;
}
.teaching__proces {
    margin-left: 0px;
    margin-right: 0px;
	max-width: 100%;
	min-height: 468px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.teaching__proces-img {
	max-width: 600px;
	height: 325px;
	margin-top: 65px;
	margin-left: -20px;
	margin-right: 29px;
	
}
.teaching__proces-img > img {
	width: 100%;
}

.teaching__process-about-header {
	margin-top: 55px;
	display: inline-block;
	text-align: left;
	font: normal normal bold 33px/40px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.teaching__process-about > p {
	max-width: 560px;
	height: 60px;
	margin-top: 12px;
	text-align: left;
	font: normal normal normal 15px/19px Montserrat;
	letter-spacing: 0px;
	color: #070707;
	overflow: hidden;
}
.teaching__process-about > ul {
	list-style-type: none;
    padding-left: 0px;

}
.teaching__process-about li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: #4B4B4B 0% 0% no-repeat padding-box;
    margin-right: 19px;
 }

.teaching__process-about > ul > li{
	margin-top: 10px;
	display: flex;
	align-items: center;
	text-align: left;
	font: normal normal normal 17px/20px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.learn__more {
	max-width: 178px;
	min-height: 42px;
	margin-top: 20px;
	text-align: center;
	border: 3px solid #707070;
}
.learn__more > a {
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	font: normal normal normal 16px/19px Montserrat;
	letter-spacing: 0px;
	color: #4B4B4B;
}
.payment__about{
    margin-left: 0px;
    margin-right: 0px;
	max-width: 100%;
	min-height: 468px;
	background: #FFFFFF 0% 0% no-repeat padding-box;

}
.payment__about-header {
	margin-left: -20px;
	display: inline-block;
	text-align: left;
	font: normal normal bold 33px/40px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.payment__about-process > p {
	margin-left: -20px;
	margin-top: 12px;
	max-width: 100%;
	height: 170px;
	text-align: left;
	font: normal normal normal 15px/19px Montserrat;
	letter-spacing: 0px;
	color: #070707;
	overflow: hidden;
}
.learn__more-2{
	margin-left: -20px;
	margin-top: 30px;
}
.learn__more:hover{
	background-color: red;
}
.payment__about-img {
	margin-top: 5px;
	margin-left: 40px;
	max-width: 650px;
	height: 325px;
}
.payment__about-img > img {
	width: 110%;
}
.teach__online {
	max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;

	
}
.teach__online-img{
	margin-right: 0px;
    margin-left: 0px;
	max-width: 100%;
	min-height: 690px;
	background: transparent url('../img/student-visa.png') 0% 0% no-repeat;
	background-size: cover;
	
}
.opacity .row {
	margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
    min-height: 690px;
    background-color: rgba(13,33,68,0.66);
}
.header {
	max-width: 512px;
	min-height: 219px;
	margin: auto;
	margin-top: 80px;
	text-align: center;
	font: normal normal bold 65px/70px Montserrat;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.teach__online-content > p {
	margin-top: 209px;
	text-align: center;
	font: normal normal normal 17px/20px Montserrat;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.get-started-2 {
	margin: auto;
	margin-top: 24px;
}

.icons__items {
	display: flex;
	width: 160px;
	margin: auto;
}
.icons__items-fb {
	width: 8px;
	height: 18px;
	margin-right: 23px;
	background: transparent url('../img/facebook.svg') 0% 0% no-repeat padding-box;
}
.icons__items-ins {
	width: 16px;
	height: 16px;
	margin-right: 23px;
	background: transparent url('../img/insta.svg') 0% 0% no-repeat padding-box;
}
.icons__items-pin {
	width: 14px;
	height: 18px;
	margin-right: 23px;
	background: transparent url('../img/pinterest.svg') 0% 0% no-repeat padding-box;
}
.icons__items-vk {
	width: 17px;
	height: 15px;
	margin-right: 23px;
	background: transparent url('../img/vk.svg') 0% 0% no-repeat padding-box;
}
.icons__items-tw {
	width: 10px;
	height: 17px;
	background: transparent url('../img/twiter.svg') 0% 0% no-repeat padding-box;
}
.footer__top {
    margin-right: 0px;
    margin-left: 0px;
	display: flex;
	max-width: 100%;
	min-height:142px;
	background: #262F4D 0% 0% no-repeat padding-box;
}

.footer__top-logo {

	margin-left: -45px;
	width: 152px;
	height: 152px;
	background: transparent url('../img/Expert.am-logo2.png') 0% 0% no-repeat padding-box;
}
.footer__top-link {
	margin-top: 59px;
	margin-left: 260px;
	width: 484px;
}
.footer__top-link > a {
	margin-right: 34px;
	text-decoration: none;
	text-align: center;
	font: normal normal medium 14px/18px Montserrat;
	letter-spacing: 0px;
	color: #FFFFFF;
}
.footer__bottom {
	max-width: 100%;
	height: 44px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	

}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.footer__bottom-logo {
	margin-left: -25px;
	margin-top: 20px;
	display: inline-block;
	width: 174px;
	min-height: 31px;
	text-align: left;
	font: normal normal normal 14px/19px Segoe UI;
	letter-spacing: 0px;
	color: #000000;
}
.icons__items-fb-black {
	background: transparent url('../img/facebook-black.svg') 0% 0% no-repeat padding-box;
}
.icons__items-ins-black {
	background: transparent url('../img/insta-black.svg') 0% 0% no-repeat padding-box;
}
.icons__items-pin-black {
	background: transparent url('../img/pinterest-black.svg') 0% 0% no-repeat padding-box;
}
.icons__items-vk-black {
	background: transparent url('../img/vk-black.svg') 0% 0% no-repeat padding-box;
}
.icons__items-tw-black {
	background: transparent url('../img/twiter-black.svg') 0% 0% no-repeat padding-box;
}
.icons__items-2 {
	margin-top: 20px;
	margin-left: 500px;
}