.container-fluid, .row , .col-sm-12 {
	margin: 0;
	padding: 0;
}
.login {
	max-width: 1920px;
	min-height: 1017px;
	background: transparent url("../img/login/Group 2.png") 0% 0% no-repeat padding-box;
}
.login__form {
	margin: auto;
}
.login__form-img{
	margin-top: 43px;
	width: 100%;
	height: 60px;
	
}
.login__form-img > div {
	margin: auto;
	width: 108px;
	height: 57px;
	background: transparent url('../img/contactUs/Group 22.svg') 0% 0% no-repeat padding-box;
}


.login__form-content {
	display: inline-block;
	margin-top: 180px;
	margin-left: 35%;
	width: 506px;
	height: 590px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;

}
.login__form-logo {
	width: 100%;
	margin-top: 16px;
	
}
.login__form-logo > div {
	width: 135px;
	height: 41px;
	margin: auto;
	background: transparent url('../img/howItWorks/logo-1.png') 0% 0% no-repeat padding-box;
}
.login__form-header {
	width: 100%;
	margin-top: 33px;
}
.login__form-header > div {
	text-align: center;
	font: normal normal bold 20px/24px Montserrat;
	letter-spacing: 0px;
	color: #070707;
}
.login__form-form {
	margin-top: 24px;
	margin-left: 54px;
	margin-right: 54px;

}
.form-group {
	text-align: left;
	font: normal normal bold 15px/19px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.checkbox > div {
	width: 134px;
 	height: 23px;
	display: inline-block;
	float: right;
	clear: right;
}
.checkbox > div >a {
	text-decoration: none;
	text-align: left;
	font: normal normal medium 14px/18px Montserrat;
	letter-spacing: 0px;
	color: #4B4B4B;
}

.login__form-button  > button  {
	width: 168px;
	height: 40px;
	margin-left: 110px;
	text-align: center;
	font: normal normal bold 13px/19px Montserrat;
	background: #6FDA44 0% 0% no-repeat padding-box;
	letter-spacing: 0px;
	color: #FFFFFF;
	
}
.login__form-registr {
	margin-top: 96px;
}
.login__form-registr > div {
	width: 237px;
	height: 23px;
	margin-left: 140px;
	display: inline-block;
	text-align: left;
	font: normal normal medium 14px/18px Montserrat;
	letter-spacing: 0px;
	color: #000000;
}
.login__form-registr > div > a {
	text-decoration: none;
	text-align: left;
	color: #6FDA44;
}
.login__icons {
margin-top: 37px;}

